<h3>Add Comment</h3>
<% @post.comments.each do |comment| %>
  <div class="well">
    <p>
    <%= comment.username %>: <%= comment.body%>
    <%= link_to 'X', [comment.post, comment], method: :delete, data: {confrim: 'Are you sure?'}%>
    </p>
  </div>
<%end%>